{
	"env": {
		"browser": true,
		"node": true
	},

	"globals": {
		"DEBUG": false,
		"debug": false,
		"gettext": false,
		"ngettext": false,
		"pgettext": false,
		"dvbManager": false,
		"gSTB": false,
		"pvrManager": false,
		"stbDownloadManager": false,
		"stbStorage": false,
		"stbUpdate": false,
		"stbWebWindow": false,
		"stbWildWebWindow": false,
		"stbWindowMgr": false,
		"timeShift": false
	},

	"rules": {
		"comma-dangle": [2, "never"],
		"no-cond-assign": 2,
		"no-constant-condition": 2,
		"no-dupe-args": 2,
		"no-dupe-keys": 2,
		"no-duplicate-case": 2,
		"no-empty": 2,
		"no-ex-assign": 2,
		"no-extra-boolean-cast": 2,
		"no-extra-parens": 0,
		"no-extra-semi": 2,
		"no-func-assign": 2,
		"no-inner-declarations": [2, "both"],
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-negated-in-lhs": 2,
		"no-obj-calls": 2,
		"no-sparse-arrays": 2,
		"no-unreachable": 2,
		"use-isnan": 2,
		"valid-jsdoc": [2, {
			"prefer": {
				"returns": "return"
			},
			"requireReturn": false
		}],
		"valid-typeof": 2,

		"consistent-return": 1,
		"curly": [2, "all"],
		"dot-notation": 0,
		"eqeqeq": 1,
		"no-alert": 1,
		"no-caller": 1,
		"no-else-return": 1,
		"no-eval": 1,
		"no-extend-native": [2, {"exceptions": []}],
		"no-fallthrough": 1,
		"no-floating-decimal": 1,
		"no-implied-eval": 1,
		"no-lone-blocks": 1,
		"no-loop-func": 1,
		"no-multi-spaces": 0,
		"no-native-reassign": 1,
		"no-new-func": 1,
		"no-new-wrappers": 1,
		"no-octal": 1,
		"no-octal-escape": 1,
		"no-redeclare": 1,
		"no-return-assign": 1,
		"no-script-url": 1,
		"no-self-compare": 1,
		"no-sequences": 1,
		"no-unused-expressions": 1,
		"no-useless-call": 2,
		"no-void": 1,
		"no-with": 1,
		"radix": 1,
		"vars-on-top": 1,

		"strict": [2, "global"],

		"no-delete-var": 1,
		"no-label-var": 1,
		"no-shadow": 0,
		"no-shadow-restricted-names": 1,
		"no-undef": 1,
		"no-undefined": 0,
		"no-unused-vars": [1, {"vars": "all", "args": "all"}],
		"no-use-before-define": [1, "nofunc"],
		"no-mixed-requires": 0,
		"no-new-require": 0,
		"no-path-concat": 0,

		"no-process-exit": 0,

		"array-bracket-spacing": [2, "never"],
		"block-spacing": [2, "always"],
		"brace-style": [1, "1tbs", {"allowSingleLine": true}],
		"camelcase": 1,
		"comma-spacing": [1, {"before": false, "after": true}],
		"comma-style": [1, "last"],
		"computed-property-spacing": [2, "never"],
		"consistent-this": [1, "self"],
		"eol-last": 1,
		"func-names": 0,
		"indent": [2, "tab", {"SwitchCase": 1, "VariableDeclarator": 1}],
		"key-spacing": [0, { "align": "colon" }],
		"linebreak-style": [2, "unix"],
		"new-cap": 1,
		"new-parens": 1,
		"newline-after-var": [1, "always"],
		"no-array-constructor": 1,
		"no-lonely-if": 0,
		"no-mixed-spaces-and-tabs": 1,
		"no-multiple-empty-lines": [1, {"max": 2}],
		"no-nested-ternary": 1,
		"no-new-object": 1,
		"no-spaced-func": 1,
		"no-trailing-spaces": [2, {"skipBlankLines": true}],
		"no-unneeded-ternary": 1,
		"object-curly-spacing": [2, "never"],
		"one-var": [1, "always"],
		"quote-props": [1, "as-needed"],
		"quotes": [1, "single", "avoid-escape"],
		"semi": [1, "always"],
		"semi-spacing": [2, {"before": false, "after": true}],
		"space-after-keywords": [1, "always"],
		"space-before-blocks": [1, "always"],
		"space-before-function-paren": [1, {"anonymous": "always", "named": "always"}],
		"space-in-parens": [0, "always"],
		"space-infix-ops": 1,
		"space-return-throw-case": 1,
		"space-unary-ops": [1, {"words": true, "nonwords": false}],
		"spaced-line-comment": [0, "always"]
	}
}
