@clockBlockSurroundGap: 9;
@clockBlockHeight: @leftPanelTop - @mainPanelTop - @clockBlockSurroundGap;

.component.clock {
    color: #fff;
    height: unit(@clockBlockHeight, px);
    line-height: unit(@clockBlockHeight, px);
    padding-right: unit(@safePadding, px);
    position: absolute;
    right: unit(@pagePadding, px);
    text-align: right;
    top: unit(@mainPanelTop, px);
    width: unit(@panelWidth - @panelShadowWidth, px);
}
