.component.list.layoutList {
    >.item {
        >.layout {
            >.icon {
                width: unit(@panelTitleHeight, px);
                font-family: 'icons';
                text-align: center;
                font-size: unit(@fontSize * 1.6, px);
                &.yellow {
                    color: #FEC500;
                }
                &.red {
                    color: #FF0000;
                }
                &.green {
                    color: #04E900;
                }
                &.blue {
                    color:#1CACFF;
                }
            }
            >.number {
                width: unit(@panelTitleHeight, px);
            }

        }
    }
}
