.component.modalList {
    width:unit(@width, px);
    height:unit(@height, px);
    position:absolute;
    left:0;
    top:0;
    display:table;

    &.active > div.wrapperCell > div.wrapper > .overlay {
        visibility:hidden;
    }

    > div.wrapperCell {
        width:unit(@width, px);
        height:unit(@height, px);
        display:table-cell;
        vertical-align:middle;

        > div.wrapper {
            height:auto;
            width:unit(@panelMainWidth, px);
            margin:auto;
            box-sizing:border-box;
            padding:0;

            .overlay {
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                background:rgba(9, 9, 9, 0.6);
            }

            .list .item {
                height:unit(@panelMainTitleHeight, px);
                line-height:unit(@panelMainTitleHeight, px);
            }
            > .title {
                height:unit(@panelMainTitleHeight, px);
                line-height:unit(@panelMainTitleHeight, px);
                font-size:unit(@panelMainTitleFontSize, px)
            }
            > .title {
                height:unit(@panelTitleHeight, px);
                line-height:unit(@panelTitleHeight, px);
                position:relative;
                padding-left:unit(@safePadding, px);
                text-transform:uppercase;
                background-repeat:repeat-x;
            }
            .list .item {
                height:unit(@panelTitleHeight, px);
                line-height:unit(@panelTitleHeight, px);
            }
        }
    }
}
