doctype html
html
    head
        title=title
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href="app/img/favicon.png")

        script.
            if ( !Function.prototype.bind ) {
                Function.prototype.bind = function ( oThis ) {
                    if ( typeof this !== 'function' ) {
                        // closest thing possible to the ECMAScript 5
                        // internal IsCallable function
                        throw new TypeError('Function.prototype.bind - what is trying to be bound is not callable');
                    }

                    var aArgs   = Array.prototype.slice.call(arguments, 1),
                        fToBind = this,
                        fNOP    = function () {},
                        fBound  = function () {
                            return fToBind.apply(this instanceof fNOP && oThis
                                    ? this
                                    : oThis,
                                aArgs.concat(Array.prototype.slice.call(arguments)));
                        };

                    fNOP.prototype = this.prototype;
                    fBound.prototype = new fNOP();

                    return fBound;
                };
            }

        if develop
            script(type='text/javascript', src='js/develop.js')
            if livereload
            script(type='text/javascript', src=livereload)
        else
            script(type='text/javascript', src='js/release.js')

        if weinre
            script(type='text/javascript', src=weinreSrc)

    body
        include ./pages/init.jade
        include ./pages/main.jade
